body {
    font-family: Helvetica LT, sans-serif;
    font-size: 12px;
    color: #444;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0px;
    font-weight: bold;
    margin: 25px 0 10px 0;
    padding: 5px 0 0 0;
    border-bottom: 1px dotted #444;
    font-variant: small-caps;
    letter-spacing: 0.08em;
}

hr {
    display: none;
}

img {
    display: block;
    margin: 0 auto;
    //width: 300px;
}

#header {
    background: #246;
    border-bottom: 3px solid #38a;
    color: #fff;
    padding: 15px;
}

#header p {
    margin: 0.2em 0 0 0;
    padding: 0;
    color: #eee;
}

#content {
    margin: 15px;
    padding: 0;
}

.data_table {
    font-size: 1.0em;
    padding: 0;
    margin: 0 0 25px 0;
    color: #000;
    border-collapse: collapse; 
}

    .data_table thead th {
        font-weight: bold;
        padding-right: 1.5em;
        border-bottom: 3px double #444;
        line-height: 2.1em;
        text-align: left;
        margin: 0;
    }
    
    .data_table td {
        font-family: monospace;
        text-align: right;
        padding: 2px 20px 2px 0;
        margin: 0;
    }
    
    .data_table tbody tr:first-child td {
        padding-top: 8px;
    }

    .data_table .total {
        font-style: italic; 
    }
    
    .data_table .total td {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
    }

.stage_detail {
    background: #f7f7f7;
    border: 1px solid #ccc;
    margin: 10px 10px 10px 0;
    padding: 15px;
}

    .stage_detail h2 {
        background: #246;
        color: #fff;
        margin: -15px -15px 0 -15px;
        padding: 0.5em;
        font-size: 1.3em;
    }
    
.highlight {
    background: #ff0;
    font-weight: bold;
    padding: 0 5px;
}

